<!DOCTYPE html>

<!-- The doctype declares the type of coding the HTML page uses so that the browser knows how to render it. -->

<!-- The  html tag contains everything on the page: head and body-->
<html lang="en">

  <!-- The "head" container includes all the information the browser needs to display the page -->
  <head>
    <!-- the "meta" tag is used to provide, ah, meta-information about the page. 
         This one is another method to the browser what this content is and what character set we are using 
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- edit the title to include your name and make it in possesive case (http://englishplus.com/grammar/00000364.htm) -->
    <title>Telling Touche</title>
    
    <!-- The "link" tag identifies your external CSS style sheet. Edit this link to use your particular file  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/template.css" />
  	
    <!-- the "style" tag container includes this page's unique style rules -->
    <style type="text/css">
  		p, li {color: black;}
  	</style>
  </head>

  <body>

    <div class="container"> <!-- contains everything on the page; used for centering and margins-->

    	<header> <!-- contains the constant stuff at the top of the page -->
     
      
      	<div class="page_heading">
          <h1>Telling Touch</h1>
          <h2>Get in touch</h2>
          <h2>&nbsp;&nbsp;&nbsp;&nbsp;with your true self</h2>
      	</div>
        <div class="logo">
           <img src="html_css_exercise\client_assets\logo_large.jpg" alt="text">
        </div>
     
         <div class="validation_badge">

          <!-- replace this html with the html snippets that displays your validation badges of the client wants this. -->
          <p>
           <a href="http://jigsaw.w3.org/css-validator/check/referer">
             <img style="border:0;width:88px;height:31px"
               src="http://jigsaw.w3.org/css-validator/images/vcss"
               alt="Valid CSS!" />
           </a>
          </p>
          <!-- Notice that the indentation style of the second segment of code is all on one line. Which one is more readable for you? -->
          <p>
           <a href="http://jigsaw.w3.org/css-validator/check/referer">
             <img style="border:0;width:88px;height:31px"
                  src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                  alt="Valid CSS!" />
           </a>
          </p>
          </div>
          </header>      
          
        <nav>
         <ul> 
            <li><a href="Index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="Contact.html">Contact Us</a></li>
          </ul>
          <div class="headshot">
           <img src="https://raw.githubusercontent.com/mattwilliams85/massagetemp/master/html_css_exercise/client_assets/headshot.jpg" alt="text"/>
          </div>
        </nav>
      <div class="main">

    

<section class="articles">
        <div class="blog_title">
          <p> Keeping In Touch </p>
        </div>
        	<article>
          	<div class="article_heading">
          	 <div class="article_title">This is an article</div> <i>mm/dd/yyyy - replace with the date and a subject line of your choice</i>
          	</div>
          	<div class="article_content">
              <p>This is an article paragraph and other stuff.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra ultricies nibh, in interdum tellus ultrices id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse urna lorem, imperdiet a mattis sed, blandit id elit. Proin id ultrices odio. Vivamus ut nisl nulla. Proin consectetur urna vitae est fermentum in placerat elit condimentum. Morbi iaculis elit sit amet lacus convallis a semper risus elementum.</p>
          	</div>		
        	</article>

          <article>
            <div class="article_heading">
             <div class="article_title">This is another article</div> <i> mm/dd/yyyy notice how the html for this is basically the same as the one above it.</i>
            </div>
            <div class="article_content">
              <img class="float_right" src="images/image_placeholder.png" alt="and an image placeholder" height="250" width="250" />

              <p>Except the stuff in the article content is different.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra ultricies nibh, in interdum tellus ultrices id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse urna lorem, imperdiet a mattis sed, blandit id elit. Proin id ultrices odio. Vivamus ut nisl nulla. Proin consectetur urna vitae est fermentum in placerat elit condimentum. Morbi iaculis elit sit amet lacus convallis a semper risus elementum.</p>

              <ol>
                <li>this one</li>
                <li>also has</li>
                <li>a list of </li>
                <li>items</li>
              </ol>
            </div>    
          </article>

                </section>
        </div>  	

    	<footer>
        <!-- edit the footer to include your name  -->
    	 Copyright &copy; 2013 <i>Telling Touch</i>
    	</footer>
  	</div>  <!-- .container -->
        <div class="contact_information">
          <a href="mailto:contact@email.com" class="contact_information">contact@email.com</a>
        </div>
    <div class="deadspace"></div>
  </body>
</html>


