/* For general styles see stylesheets/style.css */

.clear {
  clear: both;
}

.linkbox {
  margin: 10%;
}

.linktext {
  color: white; /* Make sure this corresponds to default article color: if it doesn't it will default to anchor defaults*/
  text-decoration: none;
}

.linktext:hover {
  color: red;
}

.quotebox {
  margin-top: 50%;
  margin-bottom: 50%;
}

.quotation {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.attribution {
  text-align: center;
  font-style: italic;
  padding: 20px;
}