.container {
	width: 1000px;
	height: 1200px;
  	margin: auto;
}


.information {
	padding: 20px;
	float: left;
	margin: 0px auto;
}

.sidebar {
	width:300px;
	height:500px;
	float:right;
	background-color:orange;
}

.sidebar img {
	width:300px;
	height:400px;
}

.quote {
	text-align: center;
	font-family: lancelot; 
	font-size: 48px;
	font-style: italic;
}

.map {
	float: left;
	background-color:blue;
}

.gmap {
	width:400px;
	height:400px;
}

.input {
	float:left;	
	background-color:blue;
}

.input-info {
	float: left;
	background-color:gray;
}

.label {
	float:left;
	padding-left: 5%;
	background-color:red;
}

.contact-info {
	float:left;
	background-color:green;
	clear:both;
}

.text_box {
	clear:both;
	background-color:yellow;
	margin-top:50px;
}



